.Dictionary {
  text-align: center;
}

.Dictionary form input {
  margin: 3px;
}

.Dictionary li {
  list-style-type: none;
  margin: 20px;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  line-height: 1.5em;
}
