.DisplayDefinition ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.DisplayDefinition li {
  list-style-type: none;
  margin-top: 20px;
  line-height: 1.5em;
  text-align: left;
}

.DisplayDefinition div {
  background-color: rgba(0, 0, 0, 0.1);
  width: 50%;
  display: block;
  margin: 10px auto;
  padding: 30px;
  border-radius: 10px;
}
