.SearchImages img {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px;
  margin: 3px;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .SearchImages img {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .SearchImages img {
    width: 45%;
  }
}
