.Synonyms li {
  display: inline-block;
  margin-right: 15px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  opacity: 0.7;
  text-decoration-color: rgba(0, 0, 0, 0.8);
  text-decoration-thickness: 0.5px;
}

.Synonyms {
  text-align: center;
}
